<section id="home" class="landing-section border-card-section">    
    <div class="corner-decorator"></div>
    <div class="presentation-content">
      <span class="title">Hola!</span>
      <div>
        <span class="title">Soy </span><span class="title text-primary">Rafael Cascante</span>
      </div>
      <span class="description-landing">Desarrollador Fullstack</span>
      <br>
      <a href="#" class="contact-landing hover-scale">¡Contactame!</a>
    </div>
    <img src="/assets/landing-3.png" class="image-landing hover-scale">
    <svg xmlns="http://www.w3.org/2000/svg" class="wave" viewBox="0 0 1619.74 578.55" preserveAspectRatio="none">
      <path class="wave-style" 
        d="M1619.74,578.55H0V51.57s19.39,87.83,414.63,87.83S988.63,0,1231.17,0s388.58,51.57,388.58,51.57V578.55Z" />
    </svg>
</section>