<section id="tech-section" class="section-page mx-20 mt-100 tech-section">
    <div class="row">
      <div class="col-6">
        <span class="sub-title">Tecnologías</span>
        <p>
          Ofrezco desarrollo web, de escritorio y móvil utilizando buenas prácticas de programación y una amplia gama de tecnologías, incluyendo Angular, .NET, Blazor, Kotlin, MAUI, y diferentes motores de bases de datos. Mi enfoque se centra en crear soluciones robustas, escalables y eficientes, adaptadas a las necesidades específicas de cada proyecto.
        </p>
      </div>
      <div class="flex-content-w-center col-6">
        <img src="/assets/tech/Angular2.png" class="image-technology hover-scale hover-rotate">
        <img src="/assets/tech/c-sharp.png" class="image-technology hover-scale hover-rotate">
        <img src="/assets/tech/NET.png" class="image-technology hover-scale hover-rotate">
        <img src="/assets/tech/blazor.png" class="image-technology hover-scale hover-rotate">
        <img src="/assets/tech/Kotlin.png" class="image-technology hover-scale hover-rotate">
        <img src="/assets/tech/Typescript.png" class="image-technology hover-scale hover-rotate">
        <img src="/assets/tech/sql.png" class="image-technology hover-scale hover-rotate">
        <img src="/assets/services/illus.png" class="image-technology hover-scale hover-rotate">
        <img src="/assets/services/aftereff.png" class="image-technology hover-scale hover-rotate">
      </div>
    </div>
  </section>