<section class="section-page" id="about-me">
    <article class="row mb-10">
      <div class="col-6 d-flex-j-center">
        <img src="/assets/about/about-me.png" width="80%" class="m-20" alt="">
      </div>
      <div class="col-6 text text-center-white flex-content-w-center">
        <span class="sub-title text-white">Sobre mí</span>
        <p class="text-white text-center">Soy un desarrollador fullstack apasionado, con un enfoque en la creación de software de alta calidad mediante el uso de buenas prácticas como los principios SOLID, patrones de diseño y arquitecturas de software robustas. Mi experiencia abarca desde la conceptualización hasta la implementación de soluciones eficientes y escalables, siempre con un compromiso hacia la mejora continua y la innovación en cada proyecto en el que trabajo. Busco siempre optimizar el rendimiento y la mantenibilidad del código, asegurando que las soluciones no solo sean funcionales, sino también sostenibles a largo plazo.</p>

        <div (click)="goGitHub()" class="hover-scale container-git my-30">
          <img src="/assets/github.svg" width="35px" height="35px" alt="">
          <a>Ir a Github</a>
        </div>
        <p class="col-12 text-white text-center">
            ¡Encontrarás este sitio web en Github!
        </p>
    </div>
    </article>
  </section>