<section id="services" class="section-page border-card-section-grad">
    <article class="row text-center flex-content-w-center mb-250 pt-100">
      <span class="col-12 sub-title mt-250">Servicios</span>

      <card-service class="col-3 py-30 mx-20 hover-scale" header="Desarrollo Web" description="Angular, Blazor, ASP.NET" imageUrl="/assets/services/web.png">
        Ofrezco desarrollo web fullstack especializado en Angular, Blazor, y ASP.NET, creando aplicaciones escalables, modernas y de alto rendimiento.
      </card-service>

      <card-service class="col-3 py-30 mx-20 hover-scale" header="Desarrollo Móvil" description="Kotlin MP, Maui, Maui Blazor" imageUrl="/assets/services/android.png">
        Ofrezco desarrollo móvil especializado en Kotlin MP, MAUI, y MAUI Blazor, creando aplicaciones multiplataforma / nativas con una experiencia de usuario consistente.
      </card-service>

      <card-service class="col-3 py-30 mx-20 hover-scale" header="Desarrollo de escritorio" description="Kotlin MP, WP, WPF, Maui, Maui Blazor" imageUrl="/assets/services/desktop.png">
        Ofrezco desarrollo de escritorio en Kotlin MP, WF, WPF, MAUI, y MAUI Blazor, creando aplicaciones eficientes con una experiencia de usuario nativa.
      </card-service>

      <card-service class="col-3 py-30 mx-20 hover-scale" header="Microservicios" description="Asp Net Web Api, Minimal Api, Azure Functions" imageUrl="/assets/services/rest.svg">
        Desarrollo de microservicios en ASP.NET Web API, Minimal API y Azure Functions, optimizando la comunicación entre servicios y la integración en la nube.
      </card-service>

      <card-service class="col-3 py-30 mx-20 hover-scale" header="Bases de datos" description="Sql Server, Oracel, Firebase, SqLite" imageUrl="/assets/tech/sql.png">
        Desarrollo de soluciones con SQL Server, Oracle, Firebase y SQLite, diseñando sistemas de gestión de bases de datos robustos y eficientes y óptimas.
      </card-service>

      <card-service class="col-3 py-30 mx-20 hover-scale" header="Azure" description="Portal Azure, Azure Devops" imageUrl="/assets/services/Azure.png">
        Configuro y optimizo entornos de desarrollo, integración y despliegue continuo, asegurando una administración eficiente de un flujo de trabajo ágil.
      </card-service>

      <card-service class="col-3 py-30 mx-20 hover-scale" header="Ilustraciones" description="Adobe Illustrator" imageUrl="/assets/services/illus.png">
        Creación de animaciones en After Effects, diseñando movimientos fluidos y efectos visuales impactantes que realzan el atractivo visual de cualquier proyecto.
      </card-service>

      <card-service class="col-3 py-30 mx-20 hover-scale" header="Animaciones" description="Adobe After Effects" imageUrl="/assets/services/aftereff.png">
        Creación de animaciones en After Effects, diseñando movimientos fluidos y efectos visuales impactantes que realzan el atractivo visual de cualquier proyecto.
      </card-service>
 
    </article>

    <svg xmlns="http://www.w3.org/2000/svg" style="z-index: 2;" class="wave" viewBox="0 0 1619.74 578.55" preserveAspectRatio="none">
      <path class="wave-style" 
        d="M1619.74,578.55H0V51.57s19.39,87.83,414.63,87.83S988.63,0,1231.17,0s388.58,51.57,388.58,51.57V578.55Z" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" style="z-index: 2;" class="wave-r" viewBox="0 0 1619.74 578.55" preserveAspectRatio="none">
      <path class="wave-style" 
        d="M1619.74,578.55H0V51.57s19.39,87.83,414.63,87.83S988.63,0,1231.17,0s388.58,51.57,388.58,51.57V578.55Z" />
    </svg>
  </section>